.header {
  text-align: center;
  color: var(--text-color);
  background: var(--primary-color);
}

.header h1 {
  padding-top: 2rem;
  font-size: 2rem;
}

.header img {
  margin: 2rem;
  width: 115px;
  height: auto; /* Ajustado para manter a proporção */
}

.containerSobre {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.nomeCompleto {
  font-size: 36px;
  color: #c08b89;
  font-weight: 700;
  height: auto; /* Ajustado para manter a proporção */
}

.profissao {
  font-size: 25px;
  color: var(--text-sobre);
  font-weight: 600;
  height: auto; /* Ajustado para manter a proporção */
}

.sobreMim {
  font-size: 20px;
  color: #c08b89;
  height: auto; /* Ajustado para manter a proporção */
}

.subtitulo {
  padding: 1rem;
  font-size: 1.5rem;
  height: 700px;
  color: var(--primary-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-section);
}

.subtitulo p {
  width: 40%;
}

.subtitulo img {
  margin: 2rem;
  max-width: 100%; /* Ajustado para manter a proporção */
  height: auto; /* Ajustado para manter a proporção */
}

.containerSobre iframe {
  width: 100%; /* Ajustado para ocupar toda a largura do contêiner */
  height: 315px;
}

.tituloSobre {
  width: 40%;
  font-size: 2rem;
  font-weight: 200; /* Ajustado o estilo da fonte */
  color: var(--text-sobre);
}

.containerSobre {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.containerVideo {
  display: flex;
  flex-direction: column; /* Ajustado para empilhar os elementos em dispositivos móveis */
  align-items: center;
  background: var(--primary-color);
  padding: 4rem;
}

.textVideo {
  margin-bottom: 3rem; /* Ajustado para espaçamento entre os elementos */
}

@media (max-width: 765px) {
  .subtitulo {
    flex-direction: column;
    height: auto; /* Removido a altura fixa */
  }

  .header h1 {
    padding: 2rem;
    font-size: 2rem;
  }

  .subtitulo img {
    margin: 2rem;
    width: 80vw;
    height: auto; /* Ajustado para manter a proporção */
  }

  .subtitulo p {
    width: 80%;
  }

  .tituloSobre {
    width: 80%;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    font-weight: 200; /* Ajustado o estilo da fonte */
  }

  .containerSobre {
    flex-direction: column;
  }
}
