.header {
  text-align: center;
  color: var(--text-color);
  background: var(--primary-color);
}

.headerImg {
  width: 300px;
  margin-top: 70px;
}

.containerPrincipalSobre {
  background-color: var(--primary-color);
}

.containerSobre {
  background-color: var(--primary-color);
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nomeCompleto {
  font-size: 36px;
  color: var(--text-rodape);
  font-weight: 700;
}

.profissao {
  font-size: 25px;
  color: var(--text-sobre);
  font-weight: 600;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sobreMim {
  font-size: 20px;
  color: var(--text-rodape);
  height: auto;
}

.containerSobre iframe {
  width: 560px;
  height: 315px;
}

.containerSobre {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.containerAprendizado {
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aprendizado {
  font-size: 25px;
  color: var(--text-sobre);
  font-weight: 600;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.aprendizadoImg {
  width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
}
